.btn {
  padding: 6px 0;
  width: 98px;
  display: block;
  text-align: center;
  font-size: 18px;

  &-primary {
    background: #000;
    border: 2px solid #000;
    color: #000;
    transition: all 0.3s ease;

    &:hover {
      background: transparent;
    }

    &--ghost {
      background: transparent;
      transition: all 0.3s ease;
      color: #000;

      &:hover {
        background: black;
        color: #fff !important;
      }
    }
  }
}